html, body{
    height:100%;
  }
  
  body{
    background-image: url(../images/tacky.jpg);
    text-align: center;
  
  }
  
  #wrapper{
    margin:2.5% auto;
    background-color: rgba(252, 234, 40, 0.83);
    width:960px;
    height: 95%;
    box-sizing: border-box;
    border-radius: 85px;
  }
  
  #subwrapper{
    position: relative;
  }
  button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    cursor: pointer;
    background:transparent;
    font-size: 42px;;
  }
  
  img{
    height:200px;
  }
  
  h1{
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 7em;
    font-weight: bold;
    color:rgb(26, 80, 141);
    padding-top: 2.5%;
    text-shadow: 3px 3px pink;
  }
  
  h2{
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Fontdiner Swanky', cursive;
  }
  
  h3{
    font-size: 25px;
    margin-bottom: 10px;
    font-family:'Fontdiner Swanky', cursive;
  }
  
  #start{
    margin-top: 10%;
    border:2px solid blue;
    background: pink;
  }
  
  
  
  button:hover {
    border:2px solid blue;
    background: pink;
  }